<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>MOMAEx</h1>
  <!-- <div>{{data}}</div>
-->
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> 

<p><a href="artists">Go to artists page</a></p>
<p><a href="curators">Go to curators page</a></p>
<p><a href="exhibitions">Go to exhibitions page</a></p>

<h2>look up artists for more info</h2>
<form method="POST" action="/getArtistsInfo">
<p>search artist: <input type="text" name="name"> <input type="submit" value="getArtistsInfo"></p>
</form>

</body>


</html>
