<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>MOMAEx</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <div>{{n.name}}</div>
    <div>gender: {{n.gender}}</div>
    <div>nationality: {{n.nationality}}</div>
    <div>Birth: {{n.from_}}</div>
    <div>Death: {{n.to_}}</div>
    <div>momaURL: {{n.momaurl}}<a></div>
    <div>ulanid: {{n.ulanid}}</div>
    <div>wikidataid: {{n.wikidataid}}</div>
    <div>viafid: {{n.viafid}}</div>
    {% endfor %}
  </div>
  <div>
    {% for n in dataExhibits %}
    <div>exhibition(s) exhibited in: {{n.title}}</div>
    {% endfor %}
  </div>

<p><a href="artists">Go to artists page</a></p>
<p><a href="curators">Go to curators page</a></p>
<p><a href="exhibitions">Go to exhibitions page</a></p>

<h2>look up artists for more info</h2>
<form method="POST" action="/getArtistsInfo">
<p>search artist: <input type="text" name="name"> <input type="submit" value="getArtistsInfo"></p>
</form>

</body>


</html>
