<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>MOMAEx</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in dataInfo %}
    <div><b>{{n.name}}</b></div>
    <div>curator id: {{n.c_id}}</div>
    <div>gender: {{n.gender}}</div>
    <div>nationality: {{n.nationality}}</div>
    <div>Birth: {{n.from_}}</div>
    <div>Death: {{n.to_}}</div>
    {% endfor %}
  </div>
  <!-- to not loop name to death date -->
  <div>
    {% for n in dataExhibit %}
    <div>exhibition(s) curated: {{n.title}}</div>
    {% endfor %}
  </div>

<p><a href="artists">Go to artists page</a></p>
<p><a href="curators">Go to curators page</a></p>
<p><a href="exhibitions">Go to exhibitions page</a></p>

<h2>look up curators for more info</h2>
<form method="POST" action="/getCuratorsInfo">
<p>search curators: <input type="text" name="name"> <input type="submit" value="getCuratorsInfo"></p>
</form>

<h2>Add curator</h2>
<form method="POST" action="/addCurator">
<p>curator id: <input type="text" name="c_id"><br>
  name: <input type="text" name="name"><br>
  gender:<input type="text" name="gender"><br>
  nationality:<input type="text" name="nationality"><br>
  birth date:<input type="text" name="birth"><br>
  death date:<input type="text" name="death"><br>
 <input type="submit" value="addCurator"></p>
</form>

<h2>delete curator</h2>
<form method="POST" action="/deleteCurator">
<p>curator id: <input type="text" name="c_id"><br>
  <!-- birthdate: <input type="text" name="birthdate"><br>
  deathdate: <input type="text" name="deathdate"> --><input type="submit" value="deleteCurator"></p>
</form>

</body>


</html>
