<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>MOMAEx</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <div>Exhibition #: {{n.e_num}}</div>
    <div>{{n.title}}</div>
    <div>Start Date: {{n.from_}}</div>
    <div>End Date: {{n.to_}}</div>
    <div>momaURL: {{n.url}}<a></div>
    {% endfor %}
  </div>
  <div>
    {% for n in dataCurators %}
    <div>curator who curated{{n.title}}: {{n.name}}</div>
    {% endfor %}
  </div>
  <div>
    {% for n in dataArtists %}
    <div>artists who were featured in{{n.title}}: {{n.name}}</div>
    {% endfor %}
  </div>

<p><a href="artists">Go to artists page</a></p>
<p><a href="curators">Go to curators page</a></p>
<p><a href="exhibitions">Go to exhibitions page</a></p>
  
<h2>artists</h2>
  <div>
    {% for n in artistsList %}
    <div>{{n.name}}</div>
    <div>a_id: {{n.a_id}}</div>
    {% endfor %}
  </div> 

<h2>curators</h2>
  <div>
    {% for n in curatorsList %}
    <div>{{n.name}}</div>
    <div>c_id: {{n.c_id}}</div>
    {% endfor %}
  </div> 

<h2>look up exhibitions for more info</h2>
<form method="POST" action="/getExhibitionsInfo">
<p>search exhibitions: <input type="text" name="name"> <input type="submit" value="getExhibitionsInfo"></p>
</form>

<h2>Update title</h2>
<form method="POST" action="/updateExhibitionsTitle">
<p>exhibition #: <input type="text" name="e_num">, new exhibition title: <input type="text" name="title"> <input type="submit" value="updateExhibitionsTitle"></p>
</form>

<h2>Update start date</h2>
<form method="POST" action="/updateExhibitionsFrom">
<p>exhibition #: <input type="text" name="e_num">, new start date: <input type="text" name="startDate"> <input type="submit" value="updateExhibitionsFrom"></p>
</form>

<h2>Update end date</h2>
<form method="POST" action="/updateExhibitionsTo">
<p>exhibition #: <input type="text" name="e_num">, new end date: <input type="text" name="endDate"> <input type="submit" value="updateExhibitionsTo"></p>
</form>

<h2>Update url</h2>
<form method="POST" action="/updateExhibitionsUrl">
<p>exhibition #: <input type="text" name="e_num">, new url: <input type="text" name="url"> <input type="submit" value="updateExhibitionsUrl"></p>
</form>

<!-- <h2>Update exhibitions</h2>
<form method="POST" action="/updateExhibitionsInfo">
<p>exhibition title: <input type="text" name="title">, start date: <input type="text" name="startDate">, end date: <input type="text" name="endDate">, url: <input type="text" name="url"> <input type="submit" value="updateExhibitionsInfo"></p>
</form> -->

<h2>Create exhibitions</h2>
<form method="POST" action="/createExhibition">
<p>exhibition number: <input type="text" name="e_num">, exhibition title: <input type="text" name="title">, start date: <input type="text" name="startDate">, end date: <input type="text" name="endDate">, url: <input type="text" name="url">, curator's id: <input type="text" name="curator">, artist 1 id: <input type="text" name="artist1">,  artist 2 id: <input type="text" name="artist2"> <input type="submit" value="createExhibition"></p>
</form>

<h2>Delete exhibitions</h2>
<form method="POST" action="/deleteExhibitionsInfo">
<p>exhibition #: <input type="text" name="e_num">
  <!-- , exhibition title: <input type="text" name="title">, start date: <input type="text" name="startDate">, end date: <input type="text" name="endDate">, url: <input type="text" name="url"> 
 -->
  <input type="submit" value="deleteExhibitionsInfo"></p>
</form>

</body>


</html>
